@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.all-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0;

  }

/* Pages */

.page-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 70px 0 238px;
}

.logotype {
  position: absolute;
  top:0;
  left: 70px;
  z-index: 1;
}

/* Навигация */
.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 0;
  border: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.navigation-item{
  text-decoration: none;
  padding: 0 16px;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-right: auto;


}

.navigation-user {
  width: 88px;
  padding-right: 19px;
  display: flex;
}
.navigation-link {
  display: block;
  box-sizing: border-box;
  padding-top: 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 19px
  }

.current {
  border-bottom: 2px solid #756257 ;

}


.navigation-button {
  background-color: #756157;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 160px;
}


.option-search {
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
  display: block;
}

.navigation-link-search {
  background-image: url("../images/icon/search.svg");

}

.navigation-link-favorites {
  background-image: url("../images/icon/favorite.svg");
  position: relative;
}

.favorite-number {
  border-radius: 10px;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  min-width: 20px;
  height: 20px;
  font-family: "PT Sans",sans-serif;
  display: block;
  position: absolute;
  top: 11px;
  left:19px;
}

/*Hero*/

.hero {
  background-image: url("../images/background-hero.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  position: relative;

}

.hero::after {
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  left:0;
  top:428px;
}

.main-logo {
  width: 458px;
  height: 352px;
  padding-top: 51px;
  padding-right: 371px;
  padding-left: 371px;
}

/* advantages */

.main {
  padding: 70px 180px 90px 180px;
  }

  .main-index {
    flex-grow: 1;
  }

.main-serv {
  padding: 63px 160px;

  }

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
}

.serv {
  margin-bottom: 20px;
}

.advantages-photo{
  position: relative;
}


.main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333;
  margin: 0;
}

.advantages-item {
  padding: 102px 85px;
  width: 230px;
  min-height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advantages-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even){
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-main {
  display: flex;
}

.text-content {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantages-title-main {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  line-height: 28px;
  margin-top:0;
  padding-bottom: 30px;

}

.advantages-title-main::after {
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 50%;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  transform: translateX(-50%);
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
}


.advantages-title {
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 30px;
 }

.advantages-title::after {
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.advantages-description-main {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}
.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  }

  /*services*/

.services-item {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  padding: 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

.container {
  background-color: #fff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.services-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 103px;
  margin: 0 0 30px;
  position: relative;
  color: #000;
  }

  .services-title::before {
  position: absolute;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 75px;
  height: 75px;
  top: 0;
  }

.services-title.house::before {
  background-image: url("../images/icon/icon-house.svg");
 }

.services-title.gifts::before{
  background-image: url("../images/icon/icon-gift.svg");
 }

.services-title.food::before{
  background-image: url("../images/icon/icon-food.svg");
}
.services-description {
  margin:0;
}


.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 97px;
}

.booking-description {
  margin:0;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  margin-top: -5px;
  text-align: center;
}


/*subscribe*/

.subscribe {
  box-sizing: border-box;
  background-image: url("../images/blur/background-subscribe.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 94px 258px 103px;

}

.subscribe-catalog {
  background-image: none;
  padding: 115px 258px 103px;
}

.subscribe-title {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
}

.subscribe-title-catalog {
  color: #000;
}

.subscribe-description{
  font-family: "PT Sans", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 30px;
}

.subscribe-description-catalog {
  color: #333;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.news {
  width: 100%;
}
.newsletter-form {
  display: flex;
  width: 684px;
  min-height: 52px;
  margin-top: 25px;
}

.field {
  font-family: "PT Sans",sans-serif;
  flex-grow: 1;
  padding: 0 19px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
}

.newsletter-button {
  padding: 0 20px;
  background-color: rgba(130, 179, 211, 1);
  cursor: pointer;
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;

}
/* footer*/

.page-footer {
  width: 1200px;
}
.school-logo {
  width: 115px;
  height: 33px;
  display: block;
}

.social-list{
  display: flex;
  width: 142px;
}

.social-link {
 display: block;
 width: 47px;
 position: relative;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 47px 70px;
}

.number {
  text-align: center;
}

.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 36px;
  color:#000;
}



  /* catalog */
  /* header*/

  .inner-header {
  background-image: url("../images/blur/back-filter.jpg");
  background-size: cover;
  padding: 36px 70px 60px 70px;
}

.inner-header-title {
  font-family: "PT Sans",sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 77px;
  margin-top: 0;
  margin-bottom:6px;
}

.breadcrumbs {
  color:#fff;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link-main {
  display: inline-block;
  background-image: url("../images/icon/home.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  width: 13px;
  height: 15px;
  padding-right: 10px;

}

.breadcrumbs-link-main::after {
  background-image: url("../images/icon/right.arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 19px;
  content: "";
  margin-left: 23px;
  display: block;
}

.breadcrumbs-link {
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 18px;
}

.catalog-filter-group {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  display: inline-block;
  width: 150px;
  padding: 0;
  border: none;
  margin-right:70px;
  margin-left:0;
  margin-top:1px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 26px;
  margin-top:0;
  color: #fff;
  padding-left:0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 16px;
}

.actions {
  width: 191px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:9px;
}

.catalog-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 39px;
}

.search {
  width: 376px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-on {
  background-color: #7dB54f;
  width: 140px;
}

.button-on:hover{
  background-color: #6c9e42;
}

.button-go {
  background-color: #82b3d3;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  border-width: 0;
}

.button-go:hover,
.product-card-button:hover,
.newsletter-button:hover {
 background-color: #68a2ca;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.9);
}


.button-go:active,
.product-card-button:active,
.button-on:active,
.navigation-button:active,
.button-reset:active,
.newsletter-button:active,
.search:active {
  color: rgba(255, 255, 255, 0.3);
}


.button-reset {
  background-color: rgba(0, 0, 0, 0);
  width: 191px;
  height: 36px;
  border: none;
  color:#fff;
}


.price-filter {
  display: flex;
  gap: 2px;
  align-items: flex-start;
}

.form-price {
  width: 288px;
  align-self: flex-start;
}

.range {
  position: relative;
  width: 282px;
  margin-top: 36px;
}

.range-scale {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 100%;
  height: 4px;
  background-color: #8e8e8e;
}

/* Белая активная часть между бегунками */
.range-scale::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

/* Общие свойства бегунков */
.range-toggle {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

/* Левый бегунок */
.toggle-min {
  left: 0;
}

/* Правый бегунок */
.toggle-max {
  left: 74%;
}

.price-input {
  position: relative;
}

.for-to {
  position: absolute;
  top: 18px;
  right: 20px;
}
.input {
  width: 143px;
  height: 48px;
  padding: 0 0 0 20px;
  border: none;
  font-family: "PT Sans",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-top:5px;
}

  .input::-webkit-inner-spin-button,
  .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
    margin:0;
  }


.input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input:hover{
  background-color: #e5e5e5;
}
.input:focus {
  background-color: #e5e5e5;
  border: 3px solid #83b3d3;
}


/* search-result*/

.search-results-page {
  width: 1060px;
  display: flex;
  padding: 51px 70px 40px 70px;
  align-items: center;
}

.search-count-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 380px;
  color: #000;

}


.button-light::before {
  background-image: url("../images/icon/tile.svg");
}

.button-laptop::before {
  background-image: url("../images/icon/laptop.svg");
}

.button-list::before {
  background-image: url("../images/icon/list.svg");
}

.options-icon {
  display: flex;
  width: 161px;
  height: 48px;
  justify-content: space-between;
  margin-left: auto;
  position: relative;
}

.icon-catalog{
  width: 46px;
  height: 45px;
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.icon-catalog-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-catalog::before {
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 48px;
  height: 44px;
  position: absolute;
}

/*product-card*/


.catalog-card {
  padding: 0 70px 40px;
}

.product-card-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.product-card-list li:last-child {
  flex-basis: 100%;
  max-width: max-content;
}



.product-card {
  box-sizing: border-box;
  padding: 20px;
  padding-bottom:10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  min-height: 438px;
  width: 340px;
  display: flex;
  flex-direction: column;
}

.product-card-title {
  margin-bottom: 15px;
  margin-top: 13px;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000;
}

.description-sum {
  display: flex;
  width: 300px;
  font-size: 18px;
  line-height: 21px;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 0;

}

.product-card-description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.product-card-button {
  width: 140px;
  background-color: #82b3d3;

}

.option {
  width: 140px;
  background-color: #756157;
  padding: 8px 0;
}

.option:hover,
.navigation-button:hover,
.search:hover {
  background-color: #615048;
}

.options-card {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.figure {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-top:auto;
}

.raiting {
  background-color: #f2f2f2;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  padding: 8px 0;
  margin-bottom:0;
  margin-top:6px;


}

/*pagination*/

.pagination {
  display: flex;
  margin-top: 40px;
  box-sizing: border-box;
  gap: 8px;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  justify-content: center;
  align-items: center;

}

.pagination-current {
  background-color: #f2f2f2;
  color: #000;
}

.dots {
  background-color: #fff;
  color: #000;
}
.raiting-star {
  background-image: url("../images/star.svg");
  width: 140px;
  height: 18px;
  background-repeat: space;
  margin-top:25px;
}
.star-4 {
  width: 88px;
}
.star-3 {
  width: 66px;
}

.star-2 {
  width: 42px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 292px;
  margin-left: 158px;
}

.select-wrapper::after{
  content: "";
  position: absolute;
  top:50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 12px;
  height: 8px;
  background-image: url("../images/icon/vector.svg");
}

.select-wrapper select{
  width: 100%;
  padding: 11px 55px 12px 18px;
  font-size: 18px;
  line-height: 23px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  font-family: "PT Sans", sans-serif;
  color: #333;

}

.catalog-filter-item-checkbox,
.catalog-filter-item-radio{
  margin-top: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-label,
.radio-label {
  margin-bottom: 13px;
}

.checkbox-input,
.radio-input  {
  width: 31px;
  height: 17px;
  margin:0;
  appearance: none;
}

.checkbox-input::after,
.radio-input::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon/checkbox.empty.svg");
  background-repeat: no-repeat;
}

.radio-input::after {
  background-image: url("../images/icon/ellipse.empty.svg");
}

.checkbox-input:checked:after {
  background-image: url("../images/icon/checkbox.svg");
}
.radio-input:checked:after{
  background-image: url("../images/icon/radio.svg");
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 50px;
  right: 48px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icon/close\ .svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form {
  background: #ffffff;
  width: 577px;
  padding: 40px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  box-sizing: border-box;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.form-header h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}


.form-group {
  margin-bottom: 25px;
}

.row {
  display: flex;
  align-items: center;
}

.row label {
  width: 135px;
  font-weight: bold;
  font-size: 20px;
  font-family: "PT Sansn", sans-serif;
}

.custom-date {
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 12px;
  background-image: url("../images/icon/date.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  opacity: 60%;
}

.custom-date:hover {
  opacity: 100%;
}
.custom-date:active{
  opacity: 60%;
  background-color: #e5e5e5;
}
.custom-date:focus {
  border: 3px solid #83b3d3;
  background-color: #e5e5e5;
  opacity: 60%;
}

.custom-date:disabled {
  opacity: 30%;
}

.custom-date::-webkit-calendar-picker-indicator {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:auto;
  height: auto;
  color:transparent;
  background: transparent;
  cursor: pointer;
}

.input-wrapper {
  flex-grow: 1;
  position: relative;
}

input[type="date"] {
  width: 100%;
  padding: 12px 15px;
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 4px;
}



/* Сообщения об ошибках и статусах */
.error-msg, .success-msg {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 5px;
}

.error-msg { color: #ff5757; }
.success-msg { color: #333333; }

/* Блок выбора количества гостей */
.guests-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guests-counter {
  display: flex;
  align-items: center;
}

.guests-counter label {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}

.counter-controls {
  display: flex;
  background-color: #f2f2f2;
}

.counter-controls button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #a9a9a9;
}

.counter-controls input {
  width: 40px;
  text-align: center;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 18px;
}
.plus,
.minus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  color: rgba(117, 97, 87, 0.3);
}

.plus:hover,
.minus:hover {
  color:#000000;
}
.plus:active,
.minus:active {
  color: rgba(0, 0, 0, 1);
}
.plus:focus,
.minus:focus {
  border: 3px solid rgba(130, 179, 211, 1);
  color: rgba(0, 0, 0, 1);
}

/* Иконка инфо и Всплывающая подсказка (Tooltip) */
.label-with-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.label-with-info label {
  margin-right: 10px;
}

.info-icon {
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
}

.tooltip {
  visibility: hidden;
  width: 256px;
  background-color: #333333;
  color: #fff;
  text-align: left;
  padding: 15px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}

.info-icon:hover .tooltip {
  visibility: visible;
}

.submit-btn {
  width: 100%;
  background-color: #83b3d3;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #68a2ca;
}
.submit-btn:active{
  color: rgba(255, 255, 255, 0.3)
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: rgba(117, 97, 87, 1)
}
.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3)
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}
.pagination-link:active{
  color: rgba(255, 255, 255, 0.3);
}

.icon-catalog:hover,
.icon-catalog:active {
 border: 2px solid #000000;
}
.icon-catalog:focus {
  border: 2px solid #68a2ca;
}
.breadcrumbs-link:hover{
  color: rgba(255, 255, 255, 0.6)
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3)
}
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}
.select-control:hover,
.select-control:focus {
  border: 1px solid rgba(104, 162, 202, 1);
}
.select-wrapper:has(select:disabled)::after {
  opacity: 30%;
  color: rgba(0, 0, 0, 0.3);
}

.radio-input:hover,
.checkbox-input:hover {
  opacity: 0.8;
}
.radio-input:active,
.checkbox-input:active {
  opacity: 0.3;
}
.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:active,
.range-toggle:focus {
  border: 3px solid #83b3d3;
}
.social-link {
  color: #83b3d3;
}
.social-link:hover {
  color: #68a2ca;
}
.social-link:focus {
  color: #68a2ca;
}
.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}
.school-logo {
  color: #000;
}
.school-logo:hover {
  color: #756157;
}
.school-logo:focus {
  color: #756157;
}
.school-logo:active {
  color: rgba(117, 97, 87, 0.3);
}
